*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:hsl(0, 0%, 8%);
    display: flex;
    height:100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div{
    text-align: center;
    color: azure;
    
}

#blue{
    color: chartreuse;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

button{
    background-color: hsl(0, 0%, 20%);
    color: azure;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button:hover{
    background-color: hsl(0, 0%, 35%);
}

 .card{
    background-color: hsl(0, 0%, 15%);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
 }
