body{
    background-color:hsl(217, 54%, 11%) ;
    display: flex;
    height:100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div{
    background-color: hsl(216, 50%, 16%);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    width: 300px;
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

h1{
    color: hsl(0, 0%, 100%);
    font-size: 22px;
    margin-bottom: 10px;
}

.h2{
    color: hsl(178, 100%, 50%);
}


.lili{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    width: 100%
}

.py{
    display:flex;
    align-items: center;
    gap: 10px;
}



