@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:white ;
    height: 100vh;
    font-family: Lexend Deca;
}
.mawo{
    background-color: hsl(31, 77%, 52%);
    color: white;
    height: 600px;
    width: 300px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.dog{
    background-color:hsl(184, 100%, 22%);
    color: white;
    height: 600px;
    width: 300px;
}

.wolf{
    background-color: hsl(179, 100%, 13%) ;
    color: white;
    height: 600px;
    width: 300px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

section{
    display: flex;
    justify-content: center;
    align-items:center ;
    text-align: center;
}

.anabanal{
    border-radius: 15px;
    color: hsl(179, 100%, 13%);
    height: 15px;
}

.abaa{
    border-radius: 15px;
    color:hsl(184, 100%, 22%);
}

.woof{
    border-radius: 15px;
    color: hsl(31, 77%, 52%) ;
}


